* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: rgb(179, 255, 179);
    height: 100%;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 3em; /*remove after adding footer*/
    /* font-family: 'Poppins'; */
    font-family: monospace, monospace;
    /* background-color: rgb(0, 51, 0); */
    /* color: white; */
}

.dt-overview, .dt-desc-tag, .survey {
    background-color: white;
    padding: 1em;
    /* rgb(0, 51, 0); - dark green */
}

.button {
    font-family: 'Inter';
    background-color: rgb(67, 145, 67);
    color: white;
    padding: 0.5em;
    border-style: none;
}

/* style for title of page */
.pg-title {
    /* padding-bottom: 1em; */
    /* font-family: monospace, monospace; */
    width: 90%;
    font-size: 25px;
}

.subtitle {
    width: 60%;
    font-size: 25px;
    margin-bottom: 1em;
}

.btn {
    padding-bottom: 1em;
}

.btn-df {
    margin-top: 1em;
    padding-bottom: 0.5em;
    /* padding-bottom: 1em; */
}

.df-filename {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* dataset preview area */
/*overflow makes div scrollable
 *overflow x:auto and y:hidden makes overflow horizontal, vertical otherwise
*/
.df {
    box-sizing: border-box;
    border: 1px solid gray;
    overflow-x: auto; 
    overflow-y: hidden;
    /* height: 300px; */
    /* padding-right: 1em; */
}
/* styling paragraphs showing upload status */
#p1 {
    color: rgb(67, 145, 67);
    font-style: italic;
    font-size: small;
}
#p2 {
    color: red;
    font-style: italic;
    font-size: small;
}
/* customizing generated table */
table {
    border-collapse: collapse;
    /* border-radius: 5px; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  th {
    background: rgb(67, 145, 67);
    color: #ffffff;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: #eeeeee;
  }

.c-desc {
    margin-right: 1em;
    box-sizing: border-box;
    border: 1px solid gray;
    height: 200px;
}

.c-tag {
    padding-top: 1em;
    box-sizing: border-box;
    border: 1px solid gray;
    height: 200px;
}

/* aligning sections of description and tagging */
.dt-desc-tag {
    display: grid;
    padding-top: 1em;
    grid-template-areas: 
        'a a b'
        'a a b';
}

.description {
    grid-area: a;
}

.tagging {
    grid-area: b;
}

/* #myFiles {
    color: rgb(67, 145, 67);
} */
/* .custom-file-upload {
    color: green;
    background-color: rgb(67, 145, 67);
} */


/* rating forms for generated description and tags */
/* "★"; */
/* description rating */
/* code sample source from: https://www.codehim.com/html5-css3/feedback-form-with-star-rating-in-html/ */
.rating-desc {
    display: flex;

    /* if flex-direction not row-reverse rating goes from right to left rather than left to right */
    flex-direction: row-reverse;
    justify-content: left;
}

.rating-desc input {
    display: none;
}

.rating-desc input:hover ~ .star:before {
    color: bisque;
}

.rating-desc input:active + .star:before {
    transform: scale(0.9);
}

.rating-desc input:checked ~ .star:before {
    color: rgb(255, 217, 0);
    /* include shadow? */
}

.rating-desc .star:before {
    content: "★";
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    color: #0000;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    background-color: #aaa;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s;
}

/* tags rating */
.rating-tags {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating-tags input {
    display: none;
}

.rating-tags input:hover ~ .star1:before {
    color: bisque;
}

.rating-tags input:active + .star1:before {
    transform: scale(0.9);
}

.rating-tags input:checked ~ .star1:before {
    color: rgb(255, 217, 0);
    /* include shadow? */
}

.rating-tags .star1:before {
    content: "★";
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    color: #0000;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    background-color: #aaa;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.3s;
}

.submit-btn {
    padding: 0.2rem 0.5rem;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), -3px -3px 8px rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    cursor: pointer;
    background-color: rgba(255, 204, 51, 0.8);
    transition: all 0.2s;
    width: 100px;
    text-align: center;
}

.submit-btn:active {
    transform: translate(2px, 2px);
}

/* To do: fix rating starts to start
    from left from right rather than right to left
 */