* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100%;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 3em; /*remove after adding footer*/
    font-family: 'Poppins';
}

#button {
    font-family: 'Poppins';
    background-color: rgb(67, 145, 67);
    color: white;
    padding: 0.5em;
    border-style: none;
}

/* style for title of page */
.pg-title {
    padding-bottom: 1em;
}

.btn {
    padding-bottom: 1em;
}

.btn-df {
    margin-top: 1em;
    padding-bottom: 0.5em;
    /* padding-bottom: 1em; */
}

.df-filename {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* dataset preview area */
/*overflow makes div scrollable
 *overflow x:auto and y:hidden makes overflow horizontal, vertical otherwise
*/
.df {
    box-sizing: border-box;
    border: 1px solid gray;
    overflow-x: auto; 
    overflow-y: hidden;
    /* height: 300px; */
    /* padding-right: 1em; */
}
/* styling paragraphs showing upload status */
#p1 {
    color: rgb(67, 145, 67);
    font-style: italic;
    font-size: small;
}
#p2 {
    color: red;
    font-style: italic;
    font-size: small;
}
/* customizing generated table */
table {
    border-collapse: collapse;
    /* border-radius: 5px; */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 14px;
  }
  
  th {
    background: rgb(67, 145, 67);
    color: #ffffff;
    text-align: left;
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  tr:nth-child(even) {
    background: #eeeeee;
  }

.c-desc {
    margin-right: 1em;
    box-sizing: border-box;
    border: 1px solid gray;
    height: 200px;
}

.c-tag {
    padding-top: 1em;
    box-sizing: border-box;
    border: 1px solid gray;
    height: 200px;
}

/* aligning sections of description and tagging */
.dt-desc-tag {
    display: grid;
    padding-top: 1em;
    grid-template-areas: 
        'a a b'
        'a a b';
}

.description {
    grid-area: a;
}

.tagging {
    grid-area: b;
}

/* #myFiles {
    color: rgb(67, 145, 67);
} */
/* .custom-file-upload {
    color: green;
    background-color: rgb(67, 145, 67);
} */